DepartmentWebForms/DepartmentWebForms/Connected Services/DepartmentServiceReference/DepartmentService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:63910/DepartmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeparmentCRUD" />
  <xs:element name="InsertORUpdateDepartmentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DeparmentCRUD" minOccurs="0" name="deparmentDetails" nillable="true" type="q1:DeparmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertORUpdateDepartmentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertORUpdateDepartmentDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartments">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DeparmentCRUD" minOccurs="0" name="GetDepartmentsResult" nillable="true" type="q2:ArrayOfDeparmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="departmentCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/DeparmentCRUD" minOccurs="0" name="GetDepartmentByIDResult" nillable="true" type="q3:DeparmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentBySearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="searchValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentBySearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/DeparmentCRUD" minOccurs="0" name="GetDepartmentBySearchResult" nillable="true" type="q4:ArrayOfDeparmentDetails" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>