DepartmentWebForms/DepartmentWebForms/Connected Services/DepartmentServiceReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DepartmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:63910/DepartmentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:63910/DepartmentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:63910/DepartmentService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DeparmentCRUD" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDepartmentService_InsertORUpdateDepartmentDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertORUpdateDepartmentDetails" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_InsertORUpdateDepartmentDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertORUpdateDepartmentDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartments_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartments" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartments_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentsResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartmentByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentByID" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartmentByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartmentBySearch_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentBySearch" />
  </wsdl:message>
  <wsdl:message name="IDepartmentService_GetDepartmentBySearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentBySearchResponse" />
  </wsdl:message>
  <wsdl:portType name="IDepartmentService">
    <wsdl:operation name="InsertORUpdateDepartmentDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/InsertORUpdateDepartmentDetails" message="tns:IDepartmentService_InsertORUpdateDepartmentDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/InsertORUpdateDepartmentDetailsResponse" message="tns:IDepartmentService_InsertORUpdateDepartmentDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartments" message="tns:IDepartmentService_GetDepartments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentsResponse" message="tns:IDepartmentService_GetDepartments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentByID" message="tns:IDepartmentService_GetDepartmentByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentByIDResponse" message="tns:IDepartmentService_GetDepartmentByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentBySearch">
      <wsdl:input wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentBySearch" message="tns:IDepartmentService_GetDepartmentBySearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDepartmentService/GetDepartmentBySearchResponse" message="tns:IDepartmentService_GetDepartmentBySearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDepartmentService" type="tns:IDepartmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertORUpdateDepartmentDetails">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/InsertORUpdateDepartmentDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartments">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/GetDepartments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentByID">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/GetDepartmentByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepartmentBySearch">
      <soap:operation soapAction="http://tempuri.org/IDepartmentService/GetDepartmentBySearch" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DepartmentService">
    <wsdl:port name="BasicHttpBinding_IDepartmentService" binding="tns:BasicHttpBinding_IDepartmentService">
      <soap:address location="http://localhost:63910/DepartmentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>